<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
<!--    <jsp-config>-->
<!--        <taglib>-->
<!--            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>-->
<!--            <taglib-location>/WEB-INF/lib/jstl-1.2.jar</taglib-location>-->
<!--        </taglib>-->
<!--    </jsp-config>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>default</servlet-name>-->
<!--        <url-pattern>/resources/*</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>JspServlet</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>org.adbs.vtlabs.lab2new.controller.MainServlet</servlet-class>
    </servlet>

<!--    <servlet-mapping>-->
<!--        <servlet-name>JspServlet</servlet-name>-->
<!--        <url-pattern>/login.jsp</url-pattern>-->
        <!--        <url-pattern>/register.jsp</url-pattern>-->
        <!--        <url-pattern>/home.jsp</url-pattern>-->
        <!--        <url-pattern>/bookView.jsp</url-pattern>-->
        <!--        <url-pattern>/create.jsp</url-pattern>-->
        <!--        <url-pattern>/error.jsp</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>